# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python

# dotenv
.env

# virtualenv
.venv
venv/
env/
ENV/

.idea/

# tmp files
tmp/
